/catkin_ws/src/data_pre_processing/data/
/catkin_ws/devel/lib/data_acquisition/
/data/
/segmentation/SqueezeSegV3/development_luxc/data
/segmentation/SqueezeSegV3/src/tasks/semantic/crop_map6.pcd
/segmentation/SqueezeSegV3/src/tasks/semantic/crop_map9.pcd
/segmentation/SqueezeSegV3/src/tasks/semantic/cropped_1.pcd
/segmentation/SqueezeSegV3/src/tasks/semantic/cropped_big.pcd
/segmentation/SqueezeSegV3/src/tasks/semantic/cropped_parking.pcd